* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/intro.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    row-gap: 30px;
}

h1 {
    color: hsl(200, 100%, 50%);
    font-size: 2.6rem;
    font-weight: 300;
    margin: 0;
    font-family: 'Teko', sans-serif;
}


.investigators {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.character {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px #555 solid;
    color: white;
    padding: 15px;
    width: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.img-container {
    height: 120px;
    width: 120px;
    margin: auto;
}

img {
    height: 100%;
    width: 100%;
}

h2 {
    position: absolute;
    top: -25px;
    left: 5px;
    font-family: 'Teko', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0;
}

p {
    font-size: 0.9rem;
    margin-bottom: 0; 
}


/* Screen validation choice */
.choice-container {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.p {
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.yesNo-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.button {
    background-color: hsl(200, 100%, 50%);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

/* tablet */
@media screen and (min-width: 768px) {
    .container {
        padding-top: 40px;
    }

    h1 {
        font-size: 4.5rem;
    }

    .character {
        margin: 30px;
        padding: 20px;
    }

    .img-container {
        height: 210px;
        width: 210px;
    }

    h2 {
        font-size: 3.5rem;
        top: -40px;
    }

    p {
        font-size: 1.2rem;
    }

    .p {
        font-size: 1.6rem;
    }

    .button {
        font-size: 1.6rem; 
        padding: 15px;
    }

}

/* desktop */
@media screen and (min-width: 992px) {
    .investigators {
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .character {
        width: 30%;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4.5rem;
        top: -50px;
    }

    p {
        font-size: 1.5rem;
    }

    .choice-container {
        row-gap: 80px;
    }

    .yesNo-container {
        column-gap: 60px;
    }
}
