* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/intro.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* left part */
#container-left {
    position: relative;
    width: 100vw;
    height: 45vh;
    color: white;
    padding: 30px
}

.container-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 95%, transparent);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
    color: hsl(200, 100%, 50%);
    position: relative;
    font-family: 'Teko', sans-serif;
}

h1::after {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 10px;
    height: 2px;
    width: 110%;
    border-bottom: 1px solid hsl(200, 100%, 50%);
}

section {
    padding: 10px 20px 0;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statEnd {
    display: flex;
    justify-content: space-between;
    color: hsl(200, 100%, 50%);
    padding: 5px 0;
}

h3 {
    color: white;
    margin: 0;
}

p {
    margin: 0;
}

/* right part */
.container-right {
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-container {
    height: 42vh;
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

#btn-leave {
    width: 100vw;
    background-color: transparent;
    border: none;
    color: hsl(200, 100%, 50%);
    animation: clignote 2000ms ease-in-out infinite;
    cursor: pointer;
}

@keyframes clignote {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* music */
#themeEnd {
    display: none;
}

/* tablet */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.1rem;
    }

    h1::after {
        width: 55%;
    }

    section {
        padding: 40px 30px 0;
        row-gap: 20px;
    }

    h3, p {
        font-size: 1.4rem;
    }

    #img-container {
        height: 45vh;
        margin-top: 10px;
    }

    #btn-leave {
        font-size: 1.6rem;
        margin-top: 20px;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 4rem;
        text-align: center;
    }

    h1::after {
        width: 65%;
    }

    h3, p {
        font-size: 1.6rem;
    }

    section {
        padding: 40px 35% 0;
    }

    #btn-leave {
        font-size: 2rem;
        margin-top: 10px;
    }
}