* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --barWidth: 360px;
    --barHeight: 30px;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


/* container */
#container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Backgrounds */
.doorNight {
    background-image: url(../img/doorNightClub.webp);
}

.doorOpens {
    background-image: url(../img/doorOpens.webp);
}

.fightInvestigators {
    background-image: url(../img/fightInvestigators.webp);
}

.fightMagic {
    background-image: url(../img/fightMagic.webp);
}

.headquarters {
    background-image: url(../img/headquarters.webp);
}

.intro {
    background-image: url(../img/intro.webp);
}

.laboratory {
    background-image: url(../img/laboratory.webp);
}

.laboVision {
    background-image: url(../img/laboVision.webp);
}

.meetingMagic {
    background-image: url(../img/meetingMagic.webp);
}


/* buttons choices */
#option-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    row-gap: 10px;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px #555 solid;
    cursor: pointer;
    width: 85%;
}


/* container character + text */
.characterText-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    height: 180px;
    width: 90%;
    border: 1px #555 solid;
    border-radius: 5px;
    padding: 17px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* character */
#img-container {
    position: absolute;
    top: -165px;
    left: 30px;
    height: 165px;
    width: 165px;
    display: flex;
}

#img-speaker {
    height: 100%;
    width: 100%;
    display: flex;
}

/* name */
#name {
    background-color: black;
    border: 1px #555 solid;
    color: white;
    width: 200px;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -15px;
}


/* button skip */
#btn-skip {
    position: absolute;
    background: none;
    border: none;
    font-size: 2.2rem;
    top: -50px;
    right: 0;
    cursor: pointer;
}

i {
    color: white;
}


/* QTE */
#qte {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

#bar {
    height: var(--barHeight);
    width: var(--barWidth);
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.areaGood {
    height: calc(var(--barHeight) - 4px);
    width: calc(var(--barWidth)*0.1);
    background-color: rgba(0, 128, 0);
    position: absolute;
    top: 0;
    left: calc((var(--barWidth)*0.9)/2);
}

#indicatorBar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: calc(var(--barHeight) - 3px);
    width: 4px;
}

@keyframes moveIndicator {
    from {left: 0px;}
    to {left: calc(var(--barWidth) - 4px);}
}

#btn-qte {
    padding: 15px;
    width: 130px;
    border: 1px #555 solid;
    border-radius: 6px;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

/* music */
#themeGame {
    display: none;
}

/* tablet */
@media screen and (min-width: 768px) {
    .btn {
        font-size: 1.3rem;
    }

    .characterText-container {
        font-size: 1.3rem;
        top: 85%;
        height: 160px;
    }

    #img-container {
        top: -230px;
        left: 30px;
        height: 230px;
        width: 230px;
    }

    #name {
        width: 270px;
        padding: 4px;
        top: -20px;
        font-size: 1.4rem;
    }

    #btn-skip {
        font-size: 2.5rem;
        top: -60px;
    }

    #qte {
        padding-top: 35px;
        row-gap: 50px;
    }

    #btn-qte {
        width: 180px;
        font-size: 1.6rem;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    #option-buttons {
        margin-top: 2%;
    }

    .btn {
        width: 65%;
        font-size: 1.4rem;
    }

    .characterText-container {
        font-size: 1.4rem;
        padding-top: 25px;
    }

    #img-container {
        top: -250px;
        height: 250px;
        width: 250px;
        left: 40px;
    }

    #name {
        width: 290px;
        font-size: 1.5rem;
    }

    #btn-skip {
        font-size: 2.7rem;
        top: -65px;
    }

    #qte {
        padding-top: 55px;
    }
}