* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Teko', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/intro.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.container-start {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: hsl(200, 100%, 50%);
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}

a {
    color: hsl(200, 100%, 50%);
    font-size: 2rem;
    animation: clignote 2000ms ease-in-out infinite;
    text-decoration: none;
    margin: 0;
}

.container-start p {
    font-size: 1rem;
    margin: 0;
    padding-top: 70px;
}

@keyframes clignote {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* tablet */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 9rem;
    }
    a {
        font-size: 3.5rem;
        font-weight: 300;
    }
    
}